*
{
    margin:0px;
    padding:0px;
}
body
{
    background-color: aquamarine;
}
#card
{
    box-shadow: 0 4px 8px 0 rgba(238, 5, 176, 0.883);
    transition:0.4s;
    width:80%;
    margin-top:40px;
    margin-left:200px;
}

h1{
    text-align: center;
    color:white;
    font-size:4em;
    margin-bottom:10px;
}
h2{
    margin-left:340px;
    color:white;
    font-size:1.3em;
}
p
{
    text-align:center;
    margin-left:30px;
    color: white;
    font-size:1.2em;
    padding-bottom:50px;
}
#paragraph
{
    margin-left:-90px;
    margin-bottom:50px;
}
.container
{
    display:flex;
    justify-content:space-between;
    padding-bottom:30px;
}
img
{
    width:100%;
    padding-left:15px;
}